# Modo da aplicação
# local = análise por vídeo
# web = análise por áudio
APP_MODE=local

# Supabase
SUPABASE_URL=sua_url_do_supabase
SUPABASE_KEY=sua_chave_anon_do_supabase

# Gemini
GEMINI_API_KEY=sua_chave_da_gemini
GEMINI_MODEL=gemini-2.5-flash

# Recuperação de senha
# URL para onde o Supabase deve redirecionar após o clique no link de recuperação.
PASSWORD_RESET_REDIRECT_URL=https://seu-app.streamlit.app